{% extends "base.html" %}

{% block title %}Administração{% endblock %}

{% block content %}
<div class="admin-container">
    <h1>Painel Administrativo</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% if admin %}
        <h2>Bem-vindo, Administrador!  </h2><a href="{{ url_for('admin_logout') }}">Sair</a>
   <h2>Cadastrar Novo Médico Usuário</h2>
    <form action="{{ url_for('add_medico') }}" method="POST">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" required>
    
        <label for="crm">CRM:</label>
        <input type="text" name="crm" id="crm" required>
    
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
    
        <label for="especialidade">Especialidade:</label>
        <input type="text" name="especialidade" id="especialidade">
    
        <label for="password">Senha:</label>
        <input type="password" name="password" id="password" required>
    
        <button type="submit">Cadastrar Médico</button>
    </form>


    <h2>Médicos Cadastrados</h2>
    <table class="exibition_tab" border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CRM</th>
                <th>Especialidade</th>
                <th>Email</th>
                <th>Telefone</th>
            </tr>
        </thead>
        <tbody>
            {% for medico in medicos %}
            <tr>
                <td>{{ medico.id }}</td>
                <td>{{ medico.nome }}</td>
                <td>{{ medico.crm }}</td>
                <td>{{ medico.especialidade }}</td>
                <td>{{ medico.email }}</td>
                <td>{{ medico.telefone }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% else %}
    
        <!-- Formulário de login admin -->
        <h2>Login de Administrador</h2>
        <form method="POST">
            <label for="username">Usuário:</label>
            <input type="text" name="username" id="username" required>

            <label for="password">Senha:</label>
            <input type="password" name="password" id="password" required>

            <button type="submit">Entrar</button>
        </form>
    {% endif %}
</div>
{% endblock %}
